/* CSS FOR LAYOUT AND ALL OTHER EJS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
body,
html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}
.container-lpage {
  background-color: #ffffff;
  height: 100vh;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.modal-footer i {
  font-size: 22px;
  margin: 0 2px;
}
.form-group i {
  font-size: 20px;
  margin-right: 2px;
  margin-bottom: 1px;
}
.form-group label {
  margin-bottom: 3px;
}

.fw-bold {
  font-weight: bold;
}

.card-header {
  gap: 5px;
}

/* FORMS */

.form-heading {
  color: #181642;
  font-weight: bolder;
  font-size: 2.5rem;
  text-align: center;
}

.form-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-top: 5px solid darkblue;
  border-left: 3px solid darkblue;
  border-radius: 10px;
  width: 70%;
  margin: auto;
  margin-top: 3vh;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.complaint-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

/* Table */

.table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
}
/* Common classes */

.font-center {
  text-align: center;
}

/* Pagination */

.pagination-container {
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Font medium */

.font-medium {
  font-weight: 500;
  font-size: medium;
}

/* Media Queries */

@media (max-width: 768px) {
  .form-box {
    width: 90%;
  }
  .table {
    width: 100%;
  }
}
