<div class="container-md">
  <div
    class="card my-3 pt-2 <% if (rainWarning.code >= 4) { %> text-bg-danger <% } else if (rainWarning.code >= 2 && rainWarning.code <= 3) { %> text-bg-warning <% } else { %> text-bg-success <% } %>"
  >
    <div class="card-header text-center">
      <a class="text-white fs-3" href="/rain-status" id="rain-link">
        SEE RAIN STATUS FOR ANY LOCATION
      </a>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0" style="height: 100%">
      <div class="col-md-4" style="height: 100%">
        <img
          src="https://st3.depositphotos.com/1005979/17990/i/450/depositphotos_179909146-stock-illustration-complaints-comments-bad-negative-feedback.jpg"
          class="img-fluid rounded-start"
          alt="..."
          style="
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
            overflow: hidden;
          "
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">COMPLAINTS</h2>
          <div class="fs-5">
            For any flooding or drainage issues in your area :-
            <ul>
              <li>File a new complaint</li>
              <li>Check the status of an existing complaint</li>
            </ul>
            You can report :-
            <ul>
              <li>Choked drains</li>
              <li>Water logging</li>
              <li>Any other issues related to flooding</li>
            </ul>
          </div>
          <a href="/complaint/new" class="btn btn-primary fs-5 mb-sm-2"
            >File A New Complaint</a
          >
          <a href="/complaint/" class="btn btn-primary fs-5 mb-sm-2"
            >Check the status of existing complaint</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://media.licdn.com/dms/image/C5612AQG1eqzhJgmBjg/article-cover_image-shrink_600_2000/0/1610597774624?e=2147483647&v=beta&t=1Jj0wcAsdg0djy5y_vxvTvrOvyijcFgmJ3x22R6HgmU"
          class="img-fluid rounded-start"
          alt="..."
          style="
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
            overflow: hidden;
          "
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">WHAT TO DO</h2>
          <p class="card-text fs-5 text-justify">
            File a new complaint or check the status of an existing complaint
            for any flooding or drainage issues in your area. You can report
            chocked drains, water logging, or any other issues related to
            flooding.
          </p>
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne"
                  aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne"
                >
                  <strong>How to prepare for heavy rainfall? </strong>
                </button>
              </h2>
              <div
                id="panelsStayOpen-collapseOne"
                class="accordion-collapse collapse show"
              >
                <div class="accordion-body">
                  <ul>
                    <li>
                      Ensure storm drains near your house are clear and free of
                      debris.
                    </li>

                    <li>
                      Clear eave troughs and ensure they are pointed down and
                      away from your home and foundation.
                    </li>

                    <li>
                      Make sure that you and your family are as prepared as
                      possible in the event a flood occurs.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseTwo"
                  aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseTwo"
                >
                  <strong
                    >Be prepared to follow any plans you have made to deal with
                    flooding in your area such as:</strong
                  >
                </button>
              </h2>
              <div
                id="panelsStayOpen-collapseTwo"
                class="accordion-collapse collapse"
              >
                <div class="accordion-body">
                  <ul>
                    <li>
                      Have a plan for your family and pets in case you need to
                      evacuate.
                    </li>

                    <li>
                      Have a 72-hour emergency kit ready with food, water,
                      medications, and other essentials.
                    </li>

                    <li>Report any flooding or drainage issues</li>

                    <li>
                      Moving cars, pets, food, valuables and important documents
                      to safety.
                    </li>

                    <li>Putting flood protection equipment in place</li>

                    <li>
                      Turning off gas, electricity and water supplies if it’s
                      safe to do so
                    </li>

                    <li>Evacuating your home</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseThree"
                  aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseThree"
                >
                  <strong> Staying safe during heavy rainfall: </strong>
                </button>
              </h2>
              <div
                id="panelsStayOpen-collapseThree"
                class="accordion-collapse collapse"
              >
                <div class="accordion-body">
                  <ul>
                    <li>Wear protective clothing and seek indoor shelter.</li>
                    <li>
                      Stay away from windows and doors during heavy rain and
                      strong winds.
                    </li>
                    <li>
                      Avoid roadway underpasses, drainage ditches, low lying
                      areas and areas where water collects – they can
                      unexpectedly flood or overflow.
                    </li>
                    <li>
                      Avoid driving in heavy rain due to poor visibility. If
                      possible, park and wait until the rain has slowed or
                      stopped to continue your journey.
                    </li>
                    <li>
                      Do not try to drive across a flooded road. Water may be
                      deeper and stronger than it appears and may contain
                      debris, sharp or dangerous objects, pot holes or
                      electrical wires.
                    </li>
                    <li>
                      Vehicles can become unstable or even swept away if caught
                      up in fast flowing or pooling flood waters. It only takes
                      a few inches of water to displace a vehicle.
                    </li>
                    <li>Stay away from power lines or electrical wires.</li>
                    <li>
                      Monitor alerts and weather reports for flash flood
                      warnings and updates.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
