<!-- LAYOUT FOR ALL EJS FILES -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prithvi</title>
    <!-- CDNS -->
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <!-- STYLESHEETS -->

    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <!-- NAVBAR -->
    <nav id="mynav" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white" href="/complaint/"
                >See Complaints</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/complaint/new"
                >New Complaint</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="/rain-status" id="rain-link"
                >Rain Status</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="/educate">Educate</a>
            </li>

            <% if(loggedIn){%>
            <li class="nav-item">
              <form action="/user/signout" method="post">
                <button class="nav-link text-white" type="submit">
                  Sign Out
                </button>
              </form>
            </li>
            <%} else {%>

            <!-- ELSE SHOW LOGIN BUTTON -->
            <li class="nav-item">
              <a class="nav-link text-white" href="/user/signin">Sign In</a>
            </li>
            <%}%>
          </ul>
        </div>

        <div class="d-flex mx-4" role="alert">
          <!-- danger button -->
          <button
            type="button"
            class="btn btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#warningModal"
          >
            PLEASE READ THIS FIRST
          </button>
        </div>

        <div class="d-flex mx-4" role="alert">
          <!-- danger button -->
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#SOSModal"
          >
            EMERGENCY SOS
          </button>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="bi bi-list"></i>
        </button>
      </div>

      <!-- MODAL -->
    </nav>

    <!-- NAVBAR -->

    <!-- WARNING MODAL -->

    <div
      class="modal fade"
      id="warningModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-3" id="exampleModalLabel">
              <b>POTENTIAL SERVER ERROR</b>
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body fw-bold fs-4">
            <ul>
              <li>This website uses external APIs to fetch data.</li>
              <li>
                If a feature is not loading due to a server error, please try
                again.
              </li>
              <li>
                Alternatively, you can also run it on your local machine by
                following the instructions in the README file of this
                <a
                  href="https://github.com/Dev-Reddy/Dev-Reddy-TeamPrithvi_Yi-IDS4"
                  >GitHub repository</a
                >. The project always works on a local machine.
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- SOS MODAL -->

    <div
      class="modal fade"
      id="SOSModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              CONTACT EMERGENCY SERVICES
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>
              Please make sure to turn on your location (GPS) and allow us to
              access your location before sending the SOS so that we can send
              the emergency services to your location.
            </p>
            <form action="/user/alert" method="post" class="p-2">
              <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-text">Name</span>
                  <input
                    required
                    name="name"
                    aria-label="name"
                    class="form-control"
                    placeholder="enter your name"
                  />
                </div>
              </div>
              <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-text">Contact</span>
                  <input
                    required
                    name="number"
                    aria-label="number"
                    class="form-control"
                    placeholder="Enter your contact details"
                  />
                </div>
              </div>
              <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-text">Current Location</span>
                  <input
                    required
                    name="location"
                    aria-label="location"
                    class="form-control"
                    placeholder="Enter your current location"
                  />
                </div>
              </div>

              <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-text">Pincode</span>
                  <input
                    required
                    name="pincode"
                    aria-label="pincode"
                    class="form-control"
                    placeholder="Enter your pincode"
                  />
                </div>
              </div>

              <button
                type="submit"
                class="btn btn-md mt-2 lbtn w-100 btn-danger"
              >
                SEND SOS
              </button>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- BODY -->

    <div><%- body %></div>

    <!-- BODY -->

    <!-- FOOTER -->
    <div class="bg-dark">
      <div class="container text-white">
        <footer class="py-3">
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column text-white">
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-white">Home</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-white">Features</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-white">Pricing</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-white">FAQs</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-white">About</a>
                </li>
              </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-white">Home</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-white">Features</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-white">Pricing</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-white">FAQs</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-white">About</a>
                </li>
              </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-white">Home</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-white">Features</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-white">Pricing</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-white">FAQs</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-white">About</a>
                </li>
              </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
              <form>
                <h5>Contact us</h5>
                <p>For support from our team, please fill the below form</p>
                <div class="input-group mb-3">
                  <span class="input-group-text">Email Address</span>
                  <input
                    id="newsletter1"
                    type="email"
                    class="form-control"
                    placeholder="Enter Email address"
                  />
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">Your Problem</span>
                  <textarea
                    class="form-control"
                    aria-label="Your Problem"
                    placeholder="Start typing your message here"
                  ></textarea>
                </div>
                <button class="btn btn-primary w-100" type="submit">
                  Submit
                </button>
              </form>
            </div>
          </div>

          <div
            class="d-flex flex-column flex-sm-row justify-content-between border-top"
          >
            <p>© 2024 Dev Reddy, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3">
                <a class="link-body-emphasis" href="#"
                  ><svg class="bi" width="24" height="24">
                    <use xlink:href="#twitter"></use></svg
                ></a>
              </li>
              <li class="ms-3">
                <a class="link-body-emphasis" href="#"
                  ><svg class="bi" width="24" height="24">
                    <use xlink:href="#instagram"></use></svg
                ></a>
              </li>
              <li class="ms-3">
                <a class="link-body-emphasis" href="#"
                  ><svg class="bi" width="24" height="24">
                    <use xlink:href="#facebook"></use></svg
                ></a>
              </li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"
    ></script>
    <!-- LOCATION -->
    <script>
      console.log("Location script running");
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            successCallback,
            errorCallback
          );
        } else {
          console.log("Geolocation is not supported by this browser.");
        }
      }

      const currentUrl = window.location.href;

      // Get the user's geolocation.
      const successCallback = (position) => {
        const request = new XMLHttpRequest();
        position = {
          latitude: position.coords.latitude,
          longitude: position.coords.longitude,
        };

        const pathname = new URL(currentUrl).pathname;
        const search = new URL(currentUrl).search;
        console.log("Current URL: ", currentUrl);
        // Send the request to the server with the geolocation as a custom header.
        request.open("GET", `http://localhost:3300${pathname}${search}`); // Replace with your local server URL
        request.setRequestHeader("geolocation", JSON.stringify(position));
        console.log("Sending request to server with geolocation data");
        request.send();
      };

      // Handle errors.
      const errorCallback = (error) => {
        console.log(error);
      };
      window.onload = getLocation;
    </script>
  </body>
</html>
