<div class="container-fluid p-4">
  <div class="card text-bg-danger mb-3">
    <div class="card-header text-center">
      <h2>WARNING!!! HIGH RAINFALL EXPECTED IN BHOPAL</h2>
    </div>
    <div class="card-body d-flex flex-column justify-content-evenly gap-3">
      <h3 class="card-title">
        <a href="#" class="link-light">
          File a complaint if you are facing any flooding or drainage or any
          other issues in your area.</a
        >
      </h3>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              <strong>How to prepare for heavy rainfall? </strong>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseOne"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  Ensure storm drains near your house are clear and free of
                  debris.
                </li>

                <li>
                  Clear eave troughs and ensure they are pointed down and away
                  from your home and foundation.
                </li>

                <li>
                  Make sure that you and your family are as prepared as possible
                  in the event a flood occurs.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo"
            >
              <strong
                >Be prepared to follow any plans you have made to deal with
                flooding in your area such as:</strong
              >
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseTwo"
            class="accordion-collapse collapse"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  Have a plan for your family and pets in case you need to
                  evacuate.
                </li>

                <li>
                  Have a 72-hour emergency kit ready with food, water,
                  medications, and other essentials.
                </li>

                <li>Report any flooding or drainage issues</li>

                <li>
                  Moving cars, pets, food, valuables and important documents to
                  safety.
                </li>

                <li>Putting flood protection equipment in place</li>

                <li>
                  Turning off gas, electricity and water supplies if it’s safe
                  to do so
                </li>

                <li>Evacuating your home</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseThree"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseThree"
            >
              <strong> Staying safe during heavy rainfall: </strong>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseThree"
            class="accordion-collapse collapse"
          >
            <div class="accordion-body">
              <ul>
                <li>Wear protective clothing and seek indoor shelter.</li>
                <li>
                  Stay away from windows and doors during heavy rain and strong
                  winds.
                </li>
                <li>
                  Avoid roadway underpasses, drainage ditches, low lying areas
                  and areas where water collects – they can unexpectedly flood
                  or overflow.
                </li>
                <li>
                  Avoid driving in heavy rain due to poor visibility. If
                  possible, park and wait until the rain has slowed or stopped
                  to continue your journey.
                </li>
                <li>
                  Do not try to drive across a flooded road. Water may be deeper
                  and stronger than it appears and may contain debris, sharp or
                  dangerous objects, pot holes or electrical wires.
                </li>
                <li>
                  Vehicles can become unstable or even swept away if caught up
                  in fast flowing or pooling flood waters. It only takes a few
                  inches of water to displace a vehicle.
                </li>
                <li>Stay away from power lines or electrical wires.</li>
                <li>
                  Monitor alerts and weather reports for flash flood warnings
                  and updates.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card text-body" style="border-radius: 35px">
        <div class="card-body p-4">
          <div class="d-flex">
            <h6 class="flex-grow-1">Bhopal</h6>
            <h6>05 May 2024</h6>
          </div>

          <div class="d-flex flex-column text-center mt-5 mb-4">
            <h6 class="display-6 mb-0 font-weight-bold">13 mm rain</h6>
            <span class="small" style="color: #868b94">Stormy</span>
          </div>

          <div class="d-flex align-items-center">
            <div class="flex-grow-1" style="font-size: 1rem">
              <table>
                <tr>
                  <td>
                    <div>
                      <i class="fas fa-wind fa-fw" style="color: #868b94"></i>
                      <span class="ms-1"> Rain Sum:</span>
                    </div>
                  </td>
                  <td>
                    <div>
                      <i class="fas fa-wind fa-fw" style="color: #868b94"></i>
                      <span class="ms-1"> 15mm </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div>
                      <i class="fas fa-tint fa-fw" style="color: #868b94"></i>
                      <span class="ms-1"> Shower Sum:</span>
                    </div>
                  </td>
                  <td>
                    <div>
                      <i class="fas fa-tint fa-fw" style="color: #868b94"></i>
                      <span class="ms-1"> 25mm </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div>
                      <i class="fas fa-sun fa-fw" style="color: #868b94"></i>
                      <span class="ms-1"> Rain Hours:</span>
                    </div>
                  </td>
                  <td>
                    <div>
                      <i class="fas fa-sun fa-fw" style="color: #868b94"></i>
                      <span class="ms-1"> 10h </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div>
                      <i class="fas fa-sun fa-fw" style="color: #868b94"></i>
                      <span class="ms-1"> Probability: </span>
                    </div>
                  </td>
                  <td>
                    <div>
                      <i class="fas fa-sun fa-fw" style="color: #868b94"></i>
                      <span class="ms-1"> 90% </span>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div>
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu1.webp"
                width="100px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
