<div class="container-lpage">
  <div class="container p-3 mx-auto w-50 form-box my-5 rounded-md">
    <h2 style="color: #181642" class="text-center mb-3 text-primary">
      SIGN IN
    </h2>

    <!-- SIGN IN FORM -->
    <form action="/user/signin" method="post" class="p-2">
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text">Email</span>
          <input
            required
            name="email"
            type="email"
            aria-label="email"
            class="form-control"
            placeholder="enter your email"
          />
        </div>
      </div>
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text">Password</span>
          <input
            required
            name="password"
            type="password"
            aria-label="password"
            class="form-control"
            placeholder="enter your password"
          />
        </div>
      </div>

      <button type="submit" class="btn btn-md mt-2 lbtn btn-primary">
        Login
      </button>
    </form>
    <p>Not a member? <a href="/user/signup">Register</a></p>
  </div>
</div>
